<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.name %></h1>
    <p>
      Uhul!!! Seu evento <strong><%= @event.name %></strong>, recebeu um novo comentário!
    </p>
    <p>
      <strong>Quem? </strong> <em><%= @comment.name %></em>
      <br>
      <strong>Comentário: </strong><em><%= @comment.content %></em>
    </p>
    <p>Acesse <a href="<% @url %>"><%= @url %></a> e veja mais detalhes!</p>
  </body>
</html>
