<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Olá, <%= @user.name %></h1>
    <p>
      Alguém solicitou a troca de senha para a sua conta.
      Para isso, basta acessar: <a href="<% @url %>"><%= @url %></a>
    </p>
    <p>
      <em>Este link expira em 24 horas.</em>
    </p>
    <br>
    <strong>Caso você não tenha solicitado isso, por favor ignore este e-mail.</strong>
  </body>
</html>
