Bem vindo, <%= @user.name %>
===============================================

Você se cadastrou com sucesso em nossa aplicação de eventos.
Para logar, por favor utilize o email cadastrado: <%= @user.email %> em conjunto com a sua senha.

Para isso, basta acessar: <%= @url %>.

Aproveite nossos eventos!