<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem vindo, <%= @user.name %></h1>
    <p>
      Você se cadastrou com sucesso em nossa aplicação de eventos.
      Para logar, por favor utilize o email cadastrado: <strong><%= @user.email %></strong> em
      conjunto com a sua <strong>senha</strong>.<br>
    </p>
    <p>
      Para isso, basta acessar: <a href="<% @url %>"><%= @url %></a>
    </p>
    <p>Aproveite nossos eventos!</p>
  </body>
</html>
